.albumItem {
  margin: auto;
}

.albumItemSlider {
  margin: 0 auto;
  padding: 28px;
  max-width: 1200px;
}

@media (max-width: 1240px) {
  .albumItemSlider {
    max-width: 900px;
  }
}

@media (max-width: 940px) {
  .albumItemSlider {
    max-width: 700px;
  }
}
