.iconsContainer {
  padding: 56px 120px;
  gap: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  .iconsContainer {
    padding: 56px;
  }
}

.iconsContainerMob {
  padding: 0;
  padding-bottom: 80px;
  gap: 0;
}

