.frescoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frescoesHead {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frescoesLoader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frescoesItems {
  width: 100%;
  display: flex;
}

.frescoesItemsMob {
  flex-direction: column;
}

.frescoesTitle {
  position: absolute;
  font-family: "DM-Batonishvili";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 303px;
  text-align: center;
  color: rgba(226, 226, 226, 0.9);
}

.frescoesImages {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.frescoesImg {
  width: 50%;
  height: auto;
}

.frescoesImgMob {
  width: 100%;
  height: 465px;
  object-fit: unset;
}

.imgMob {
  width: 50%;
  object-fit: cover;
  height: 270px;
}

.thirdImg {
  height: 325px;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.overlay img {
  max-width: 100%;
  max-height: 80vh;
}

.modalContent {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.overlay button {
  position: absolute;
  top: 50%;
  background: none;
  cursor: pointer;
}

.overlay button.prev {
  transform: scaleX(-1);
  left: 20px;
}

.overlay button.next {
  right: 20px;
}

.overlay button.close {
  top: 20px;
  right: 20px;
}
