.iconsItemMob {
  width: 100%;
  padding: 42px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.first {
  background: #111111;
}

.second {
  background: rgba(217, 217, 217, 0.45);
}

.iconsItemContentMob {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.iconsItemMob h2 {
  white-space: nowrap;
  font-family: "DM-Batonishvili";
  font-style: normal;
  font-weight: 400;
  color: rgba(32, 32, 32, 0.95);
  font-size: 17px;
  line-height: 51px;
}

.first h2 {
  color: rgba(226, 226, 226, 0.85);
}

.iconsItemMob p {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: rgba(32, 32, 32, 0.9);
}

.first p {
  color: rgba(226, 226, 226, 0.85);
}

.iconsItemMob button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 8px 12px;
  border: 1px solid rgba(28, 28, 28, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: rgba(32, 32, 32, 0.9);
  cursor: pointer;
  margin-top: 5px;
  background-color: transparent;
}

.first button {
  border: 1px solid var(--bg-color-primary);
  color: rgba(226, 226, 226, 0.85);
}


.abbreviate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
