.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
  padding-top: 80px;
}

.footerMob {
  padding: 40px 30px;
  flex-direction: column;
  gap: 15px;
}

.footerMob .column {
  width: 100%;
  align-items: center;
}

.footerMob .column:nth-child(1) {
  order: 2;
}

.footerMob .column:nth-child(2) {
  order: 1;
}

.footerMob .column:nth-child(3) {
  order: 3;
}

.column {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.columnItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.columnItemMob {
  justify-content: center;
}

.column__between {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column__img {
  position: absolute;
  top: -35px;
}

.column a {
  opacity: 0.9;
  color: var(--text-color-primary);
}

.column ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.columnUlMob {
  flex-direction: column-reverse;
}

.socialContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contactContent {
  display: flex;
  gap: 15px;
}