.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
}

.column {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.columnItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column__between {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column__img {
  position: absolute;
  top: -35px;
}

.column a {
  opacity: 0.9;
  color: var(--text-color-primary);
}

.column ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}