.mainVideo {
  min-height: 578px;
}

.mainVideoMob {
  min-height: 464px;
  margin-bottom: 20px;
}

.videoItems {
  min-height: 440px;
  padding: 0 118px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 47px;
}

.videoItemsMob {
  margin-top: 20px;
  padding: 0;
  min-height: 204px;
}

.videoItem {
  min-width: 590px;
}

.videoItemMob {
  width: 100%;
  min-width: 320px;
}
