.mainVideo {
  min-height: 578px;
}

.videoItems {
  min-height: 440px;
  padding: 0 118px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 47px;
}

.videoItem {
  min-width: 590px;
}
