.aboutContainer {
  padding: 0 61px 76px 61px;
}

.aboutItems {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-top: 30px;
}

.frescoesImg {
  max-width: max-content;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.videos {
  padding: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.videos div {
  width: 100%;
}
