.IconsItem {
  position: relative;
  padding: 93px 133px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  border: 1px solid rgba(32, 32, 32, 0.15)
}

@media (max-width: 1240px) {
  .IconsItem {
    padding: 56px;
  }
}

.IconsItem:hover {
  background: rgba(217, 217, 217, 0.45);
}

.IconsItem h2 {
  position: absolute;
  top: -40px;  
  white-space: nowrap;
  font-family: "DM-Batonishvili";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 76px;
  color: rgba(32, 32, 32, 0.9);
  background-color: var(--bg-color-primary);
  padding: 0 10px;
}

.IconsItem p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: rgba(32, 32, 32, 0.9);
}
