.about {
  width: 100%;
  padding: 60px 89px;
  border: 1px solid rgba(32, 32, 32, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}

.aboutMob {
  border: none;
  flex-direction: column;
  gap: 0;
  padding: 0;
}
