.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactMap {
  width: 100%;
  height: 478px;
}

.contactMapMob {
  height: 434px;
  margin-bottom: 32px;
}

.contactContent {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 60px;
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width: 1024px) {
  .contactContent {
    padding: 56px;
  }
}

.contactContentMob {
  padding: 0 50px;
  margin-top: 32px;
  margin-bottom: 60px;
  flex-direction: column-reverse;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contactItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.contactItemsMob {
  margin: 0;
}

.contactItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 33px;
}

.contactItem span, .contactItem a {
  margin-left: 10px;
  color: var(--text-color-primary);
}

a.link {
  color: rgb(0, 0, 255);
  text-decoration: underline;
  margin-left: 10px;
}
