.aboutItem {
  display: flex;
  align-items: flex-start;
  gap: 22px;
  max-width: 520px;
}

.aboutItemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.aboutItem h2 {
  margin-bottom: 20px;
  white-space: nowrap;
  font-family: "DM-Batonishvili";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 76px;
  color: rgba(32, 32, 32, 0.95);
}

.aboutItem p {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: rgba(32, 32, 32, 0.9);
}

.aboutItem button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--bg-color-primary);
  margin-top: 20px;
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: rgba(32, 32, 32, 0.9);
}

.abbreviate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
