@font-face {
  font-family: "mrgvlovani";
  src: url("/fonts/bpg_mrgvlovani_caps_2010.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM-Batonishvili";
  src: url("/fonts/DM-Batonishvili.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* :root {
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #ff0f00;
  --bg-color-highlight: #f30e00;
  --bg-color-accent: #c70101;
  --text-color-primary: #202020;
  --btn-secondary: #0d0d0d;
  --btn-primary: #d90000;
  --color-dark: #101010;
} */
:root {
  --bg-color-primary: rgb(255, 255, 255);
  --bg-color-secondary: rgb(255, 15, 0);
  --bg-color-highlight: rgb(243, 14, 0);
  --bg-color-accent: rgb(199, 1, 1);
  --text-color-primary: rgb(32, 32, 32);
  --btn-secondary: rgb(13, 13, 13);
  --btn-primary: rgb(217, 0, 0);
  --color-dark: rgb(16, 16, 16);
  --border-color: #F5F5F5;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: 'mrgvlovani', sans-serif;
}

html, body {
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fontHelvetica {
  font-family: 'Helvetica Neue', sans-serif;
}

.slick-dots {
  bottom: 25px !important;
}

.slick-next {
  display: none !important;
}

.slick-dots li button:before {
  opacity: 0.6 !important;
  color: #fff !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #fff !important;
}