@font-face {
  font-family: "mrgvlovani";
  src: url("/fonts/bpg_mrgvlovani_caps_2010.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM-Batonishvili";
  src: url("/fonts/DM-Batonishvili.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* :root {
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #ff0f00;
  --bg-color-highlight: #f30e00;
  --bg-color-accent: #c70101;
  --text-color-primary: #202020;
  --btn-secondary: #0d0d0d;
  --btn-primary: #d90000;
  --color-dark: #101010;
} */
:root {
  --bg-color-primary: rgb(255, 255, 255);
  --bg-color-secondary: rgb(255, 15, 0);
  --bg-color-highlight: rgb(243, 14, 0);
  --bg-color-accent: rgb(199, 1, 1);
  --text-color-primary: rgb(32, 32, 32);
  --btn-secondary: rgb(13, 13, 13);
  --btn-primary: rgb(217, 0, 0);
  --color-dark: rgb(16, 16, 16);
  --border-color: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "mrgvlovani", sans-serif;
}

html,
body {
  height: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fontHelvetica {
  font-family: "Helvetica Neue", sans-serif;
}

/* specific styles for "main-slider" react-slick */
.main-slider .slick-dots {
  bottom: 25px !important;
}

.main-slider .slick-next {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .main-slider .slick-dots {
    bottom: 50px !important;
  }
}

.slick-dots li button:before {
  opacity: 0.6 !important;
  color: #fff !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #fff !important;
}

/* Changes for "frescoes-slider" */
.frescoes-slider .slick-next {
  position: absolute;
  right: 47px !important;
  width: 58px;
  height: 58px;
  background: url("/main_assets/SwiperArrowRight.svg");
  background-color: var(--bg-color-primary);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.frescoes-slider .slick-next::before {
  display: none;
}

.frescoes-slider .slick-next:hover,
.frescoes-slider .slick-next:focus,
.frescoes-slider .slick-next:hover,
.frescoes-slider .slick-next:focus {
  background: url("/main_assets/SwiperArrowRight.svg");
  background-color: var(--bg-color-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.frescoes-slider .slick-prev {
  position: absolute;
  z-index: 10;
  left: 47px !important;
  width: 58px;
  height: 58px;
  background: url("/main_assets/SwiperArrowLeft.svg");
  background-color: var(--bg-color-primary);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.frescoes-slider .slick-prev::before {
  display: none;
}

.frescoes-slider .slick-prev:hover,
.frescoes-slider .slick-prev:focus,
.frescoes-slider .slick-prev:hover,
.frescoes-slider .slick-prev:focus {
  background: url("/main_assets/SwiperArrowLeft.svg");
  background-color: var(--bg-color-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Changes for "albums-slider" */
.albums-slider .slick-next {
  position: absolute;
  right: -58px !important;
  width: 58px;
  height: 58px;
  background: url("/main_assets/SwiperArrowRight.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.albums-slider .slick-next::before {
  display: none;
}

.albums-slider .slick-next:hover,
.albums-slider .slick-next:focus,
.albums-slider .slick-next:hover,
.albums-slider .slick-next:focus {
  background: url("/main_assets/SwiperArrowRight.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.albums-slider .slick-prev {
  position: absolute;
  z-index: 10;
  left: -58px !important;
  width: 58px;
  height: 58px;
  background: url("/main_assets/SwiperArrowLeft.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.albums-slider .slick-prev::before {
  display: none;
}

.albums-slider .slick-prev:hover,
.albums-slider .slick-prev:focus,
.albums-slider .slick-prev:hover,
.albums-slider .slick-prev:focus {
  background: url("/main_assets/SwiperArrowLeft.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.albums-slider .slick-slide {
  margin: 0 4px;
  width: 280px;
  height: 296px;
}

.albums-slider .slick-slide img {
  object-fit: cover;
}

/* Changes for "album-slider" */
.album-slider .slick-slide img {
  height: 478px;
  object-fit: none; /* object-fit: contain; */
}

/* Changes for "album-item-slider" */
.album-item-slider .slick-slide img {
  object-fit: none;
  height: 406px;
  width: 55%;
}

.album-item-slider .slick-dots li {
  width: auto;
}

.album-item-slider .slick-next,
.album-item-slider .slick-prev {
  top: 35%;
}

.album-item-slider .slick-slide {
  margin: 1px;
}

.album-item-slider .slick-dots {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(32, 32, 32, 0.15) #f5f5f5; /* For Firefox */
  scroll-snap-type: x mandatory; /* Enable scroll snapping */
}

.album-item-slider .slick-dots .slick-active {
  scroll-snap-align: center;
  padding: 0 10px;  
  transition: padding 0.5s ease;
}

.album-item-slider .slick-dots .slick-active img {
  height: 180px;
  transition: height 0.5s ease;
}

.album-item-slider .slick-dots::before,
.album-item-slider .slick-dots::after {
  content: "";
  flex: 1;
  min-width: 10%;
}

/* For Chrome, Safari, and Opera */
.album-item-slider .slick-dots::-webkit-scrollbar {
  height: 2px;
}

.album-item-slider .slick-dots::-webkit-scrollbar-thumb {
  background-color: rgba(32, 32, 32, 0.15);
}

.album-item-slider .slick-dots::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* specific styles for "react-h5-audio-player" third-party */
.rhap_container {
  background-color: var(--bg-color-primary) !important;
}

.rhap_container:hover {
  background-color: rgba(243, 14, 0, 1) !important;
}

.rhap_container:hover .rhap_progress-bar {
  background-color: rgba(243, 14, 0, 1) !important;
}

.rhap_container:hover .rhap_progress-filled {
  background: var(--bg-color-primary) !important;
}

.rhap_container:hover .rhap_main-controls-button {
  color: var(--bg-color-primary) !important;
}

.rhap_main-controls-button {
  color: rgba(195, 195, 195, 0.75) !important;
}

.rhap_container:hover .rhap_time {
  color: rgba(248, 248, 248, 0.9) !important;
}

.rhap_time {
  font-size: 12px !important;
  color: rgba(32, 32, 32, 0.9) !important;
}

.rhap_container:hover .rhap_progress-bar {
  border: 1px solid #f8f8f8;
}

.rhap_progress-bar {
  height: 7px !important;
  border-radius: 0 !important;
  border: 1px solid rgba(217, 217, 217, 0.5);
  background: var(--bg-color-primary) !important;
}

.rhap_progress-indicator {
  display: none !important;
}

.rhap_container {
  box-shadow: none !important;
  border: 0.5px solid rgba(217, 217, 217, 0.5) !important;
}

.rhap_progress-filled {
  background-color: rgba(243, 14, 0, 1) !important;
  border-radius: 0 !important;
}

.rhap_volume-controls,
.rhap_additional-controls {
  display: none !important;
}

.rhap_main {
  flex-direction: row-reverse !important;
}

.rhap_play-pause-button {
  font-size: 24px !important;
  width: 24px !important;
  height: 24px !important;
}

.rhap_controls-section {
  flex: none !important;
}

.rhap_controls-section {
  margin: 0 !important;
}
